

/* ------ layout
-----------------------------------------------*/

html, body {
margin:0;
padding:0;
}

body {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#333;
line-height:18px;
}

#content {
	margin-top: 10px;
	margin-left: 10px;
	overflow: hidden;
}

.legend {
float:left;
width:150px;
}

#content h1 {
font-family: Helvetica, sans-serif;
color:#fff;
font-size:28px;
margin-bottom:40px;
text-align:right;
}

.skills {
float:left;
clear:both;
width:100%;
}

.skills ul,
.skills li {
display:block;
list-style:none;
margin:0;
padding:0;
}

.skills li {
float:right;
clear:both;
padding:0 15px;
height:35px;
line-height:35px;
color:#fff;
margin-bottom:1px;
font-size:18px;
}

.skills .jq {
background:#97BE0D;
}

.skills .css {
background:#D84F5F;
}

.skills .html {
background:#88B8E6;
}

.skills .php {
background:#BEDBE9;
}

.skills .sql {
background:#EDEBEE;
}


#diagram {
	margin-left: 10px;
float:left;
width:280px;
height:300px;
}

.get {
display:none;
}


/* ------ anchors
-----------------------------------------------*/

a {
text-decoration:none;
color:#333;
}

